# Python build artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.env/
.venv/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/
private/
.pytest_cache/
*.md
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.heic
*.heif
*.hevc
*.h264
*.h265
*.mp4
*.mov
*.avi
*.mkv
*.flv
*.wmv


# Jupyter Notebooks
.ipynb_checkpoints 