cffi>=1.17.0
charset-normalizer>=3.4.0
click>=8.1.8
cryptography>=44.0.0
easyocr>=1.7.1
joblib>=1.4.0
nltk>=3.9.0
numpy>=1.24.0
opencv-python>=4.9.0
packaging>=24.0
pdf2image>=1.17.0
pdfminer.six>=20221105
pillow>=11.0.0
pycparser>=2.22
pymupdf>=1.25.0
pytesseract>=0.3.13
regex>=2024.0
tqdm>=4.67.0
typing_extensions>=4.13.0
